# latest revision
coverage
Django
django-nose
mock
mimeparse
python-memcached
tastypie-queryset-client
tox

# specific revision
-e git+https://github.com/toastdriven/django-tastypie.git#egg=django-tastypie
